.vscode
__pycache__
USPS_data/usps.bz2
USPS_data/usps.t.bz2
svhn_data/test_32x32.mat
svhn_data/train_32x32.mat
MNIST_data/MNIST/processed/test.pt
MNIST_data/MNIST/processed/training.pt
MNIST_data/MNIST/raw/t10k-images-idx3-ubyte
MNIST_data/MNIST/raw/t10k-images-idx3-ubyte.gz
MNIST_data/MNIST/raw/t10k-labels-idx1-ubyte
MNIST_data/MNIST/raw/t10k-labels-idx1-ubyte.gz
MNIST_data/MNIST/raw/train-images-idx3-ubyte
MNIST_data/MNIST/raw/train-images-idx3-ubyte.gz
MNIST_data/MNIST/raw/train-labels-idx1-ubyte
MNIST_data/MNIST/raw/train-labels-idx1-ubyte.gz
MNIST_data/processed/test.pt
MNIST_data/processed/training.pt
MNIST_data/raw/t10k-images-idx3-ubyte
MNIST_data/raw/t10k-labels-idx1-ubyte
MNIST_data/raw/train-images-idx3-ubyte
MNIST_data/raw/train-labels-idx1-ubyte
train.sh
MulCls.code-workspace
model
mcd.py
result